/* Base CSS Styles */

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f0f0f0; /* White dark */
    background-color: #010119; /* Blue dark */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}